@include module('Accordion') {
  font-family: sans-serif;

  @include component('heading') {
    background-color: #1E90FF;
    color: #005A9C;
    padding: 1em;
    cursor: pointer;
  
    @include hover {
      background-color: #01BFFF;
      color: #FFFFFF;
    }

    @include context('panel', 'open') {
      background-color: #00FFB2;
      color: #FFFFFF;
    }
  }

  @include component('content') {
    padding: 1em;
    color: #444444;
    display: none;

    @include context('panel', 'open') {
      display: block;
    }
  }
}